
@{ 
    Layout= "~/Views/Shared/_LayoutAdmin2.cshtml";
}

<h1  style="color:darkcyan"> WelCome to Site DashBoard  ^_^  </h1>
<h4 style="color:darkgoldenrod"> click on "pages"  at side bar to start ..  </h4>